@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color-1: #c0d475;
  --text-color-2: #23832b;
  --bg-color: #f0f9cf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 2%;
  background-color: #fff;
}

.item {
  font-size: 1rem;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--text-color-1);
  padding: 20px;
}

a {
  color: #2a7703;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  transform: scale(1.2, 1.2);
}


/* --------------------------- Recipe card styling --------------------------- */

.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.card {
  position: relative;
  width: 300px;
  height: auto;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
  border: 1px solid #fff;
  border-radius: 25px;
  background: #fff;
  box-shadow: rgb(50 50 93 / 25%) 0 6px 12px -2px, rgb(0 0 0 / 30%) 0 3px 7px -3px;
}

.card-img img {
  width: 100%;
  border-radius: 20px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.card-info h2 {
  font-family: "Patrick Hand", cursive;
  color: var(--text-color-1);
  font-size: 2rem;
  letter-spacing: 2px;
}

.card-info ul {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
  list-style: none;
}

.comment-btn {
  padding: 5% 15%;
  font-family: "Patrick Hand", cursive;
  font-size: 1.3rem;
  color: var(--text-color-1);
  background-color: var(--text-color-2);
  border-radius: 15px;
  border: 1px solid var(--text-color-2);
  cursor: pointer;
  transition: 0.3s;
}

.comment-btn:hover {
  background-color: #236128;
}

.like-btn {
  background: none;
  border: none;
  color: var(--text-color-1);
  font-size: 1.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.like-btn .fa-heart {
  margin-right: 0.75rem;
}

.comments-container {
  width: fit-content;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(px);
  background-color: rgba(91, 127, 93, 0.861);
  box-sizing: border-box;
  overflow-y: scroll;
}

.popup-container h4 {
  font-size: 25px;
  text-align: center;
  color: var(--text-color-2);
}

.popup-window {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  border: 2px solid #264e29;
  border-radius: 12px;
  padding: 20px;
  margin: 50px auto;
}

.popup-image {
  width: 100%;
}

.popup-image img {
  width: 100%;
  height: 350px;
  border-radius: 15px;
  object-fit: cover;
  margin: 15px 0;
}

#close {
  width: fit-content;
  font-size: 2rem;
  color: var(--text-color-2);
}

#close:hover {
  transform: scale(1.5, 1.5);
}

.comment-items {
  width: auto;
  margin: 0 auto;
  color: var(--text-color-1);
}

.dish-name {
  font-size: 1.8rem;
  text-align: center;
  color: var(--text-color-2);
}

.recipe {
  width: 95%;
  font-size: 1.2rem;
  color: #264e29;
  margin: 15px auto;
}

.comment-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 0.85rem;
  gap: 0.5rem;
  color: #264e29;
  border: 2px solid #264e29;
  border-radius: 10px;
  margin: 5px auto;
}

.row-bg {
  background-color: #c0d475;
}

.comments-generator {
  width: 100%;
  font-size: 1.2rem;
}

.comments-generator > li {
  padding: 5px;
  list-style: none;
  border-radius: 0 0 10px 10px;
}

.add-comment {
  width: 55%;
  border-radius: 10px;
  margin: 25px auto 0 auto;
}

.form-header {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 5px 0;
}

.form {
  display: flex;
  flex-direction: column;
  color: #264e29;
  margin: 0 auto;
}

.name {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: #264e29;
  background-color: #c0d475;
}

.name::placeholder {
  color: var(--text-color-2);
  font-size: 0.9rem;
}

.name:focus {
  outline: 2px solid #264e29;
}

.new-comment {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: #264e29;
  background-color: #c0d475;
  margin: 5px 0;
}

.new-comment::placeholder {
  color: var(--text-color-2);
  font-size: 0.9rem;
}

.new-comment:focus {
  outline: 2px solid #264e29;
}

.btn {
  width: fit-content;
  background-color: #264e29;
  color: #f0f9cf;
  border: none;
  border-radius: 8px;
  margin: 5px auto 0 auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    padding: 2%;
    background-color: white;
  }

  .item {
    font-size: 1rem;
    cursor: pointer;
  }

  footer {
    font-size: 1.2rem;
  }

  .popup-window {
    width: 65%;
  }

  .popup-image {
    width: 90%;
  }

  .dish-name {
    font-size: 2.2rem;
  }

  .recipe {
    width: 90%;
  }

  .comments-container {
    width: 80%;
    font-size: 1.8rem;
  }
}
